
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">

    <title>Lifetrack Medical System</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/">

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/narrow-jumbotron.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

<div class="container" id = "vue_data">


    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://lifetrackmed.com/" target="_blank">Life Track Site</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="https://lifetrackmed.com/en/contact/" target="_blank">Conatct</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Lifetrack Medical System</h3>
    </div>

    <div class="row">
            <div class="col-md-12">
                <div class="card search-form-box">
                    <div class="card-body">
                    <form id="search-form" @submit="searchForPrice" method="post" action="javascript:void(0);">
                          <p v-if="errors.length">
                            <b>Please correct the following error(s):</b>
                            <ul>
                              <li v-for="error in errors">{{ error }}</li>
                            </ul>
                          </p>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label>Number of study Per Day*</label>
                                    <input type="text" v-model="study_per_day" class="form-control" @keypress="isNumber($event)" placeholder="100">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label>Study Growth per month(%)</label>
                                    <input type="text" v-model="growth_per_month" class="form-control" @keypress="isNumber($event)" placeholder="3(%)">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label>Number of months to forecast*</label>
                                    <input type="text" v-model="months_no" class="form-control" @keypress="isNumber($event)" placeholder="12">
                                </div>
                                <span class="info-text">* Indicate it is mandatory Field For Cost Calculation And Only Numeric value is Allowed</span>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label> &nbsp </label> 
                                    <input type="submit" class="form-control btn btn-primary  pl-5 pr-5" value="Submit">
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>

            </div>
    </div>

    <div class="jumbotron-x" id="table_data">
        <div class="loader" v-if="seen" id="hide">Loading...</div>
        <table class="table">
    <thead class="thead-dark">
        <th scope="col">#</th>
        <th scope="col">Month</th>
        <th scope="col">Number Of Studies</th>
        <th scope="col">Cost Forecasted</th>
    </thead>
    <tbody>
            <template v-for="(value, key) in table_body">
                <tr>
                    <th scope="row">{{ key+1 }}</th>
                    <td>{{ value.month }}</td>
                    <td>{{ value.studies }}</td>
                    <td>${{ value.cost }}</td>
                </tr>
            </template>
    </tbody>
</table>
    </div>


    <footer class="footer">
        <p>&copy; Thanks Biswajit chowdhury</p>
    </footer>

</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<!-- <script src="jquery.blockUI.js"></script> -->
<script src="http://malsup.github.io/jquery.blockUI.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/get-price.js"></script>
<script type="text/javascript">
     $(".nav-tabs li a").click(function(e){
      $(".nav-tabs li a").removeClass("active");
      $(this).addClass("active");
 });
</script>
</body>
</html>
